@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

.swiper-portfolio {
  padding-right: 250px;
}

@media screen and (max-width: 767px) {
  .swiper-portfolio {
    width: 100%;
    padding-left: 30px;
    padding-right: 0px;
  }
}

#switcher,
#showSwitcher {
  transition: 1s all;
}
#switcher.open,
#showSwitcher.open {
  margin-left: 0;
}
#showSwitcher.close {
  margin-left: -500px;
}
#switcher ul li {
  margin: 0 15px 15px 0;
}

.back-btn {
  z-index: 11111;
  margin-left: 0px;
  position: fixed;
  right: 0;
  top: 220px;
  background: #444;
  border-left: 0;
  font-size: 18px;
  display: block;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 4px;
  padding: 10px 16px 10px 16px;
  cursor: pointer;
  left: 0;
  right: initial;
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

.back-btn i {
  font-size: 25px;
  color: #fff;
}
.contact .separator {
  display: none !important;
}

.portfolio .single-item .details a {
  margin-top: 20px;
  padding: 5px 10px 8px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;

}

/* Home */
.home-dec {
  font-size: 18px;
}
/*  */
.home > div h1 > span:first-child span span, .skills > div > div span i, .about .infos ul li > span > span:before, .facts > div > div > div h3, .about h2 > span:first-child, .testimonials .quote-container > div:before, .contact .boxes > div > div > i, .timeline ol li > div > div > h4, .copyright ul li a:hover, .testimonials .quote-container > div p span.person, header .header-inner .menu ul li span.active, header .header-inner .menu ul li span:hover, .contact .boxes .social li a:hover, .copyright > div > span a, .mCSB_dragger_bar:after, header .header-inner .mail p span, .main-post .meta i {
  color: #00a5c7;
}

.home-dec {
  line-height: 1.7 !important;
}


@media (max-width: 767px) {
  /* About component */

.about h2 {
    font-size: 36px;
    line-height: 46px;
    text-align: left;
}
.about .skills > div > div:not(:first-child) {
  margin-left: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

}